<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Botones</title>
    <script src="https://kit.fontawesome.com/d4ea08e6c5.js" crossorigin="anonymous"></script>
</head>
<body>
    <button class="btn-play" style="margin-top: 40px; margin-left: 40px;">
        <span><i class="fa-solid fa-play"></i></span>

      </button>

      <button class="btn-play-trailer" style="margin-top: 40px; margin-left: 40px;">
        <span><i class="fa-solid fa-clapperboard"></i>Ver Trailer</span>

      </button>

      <button class="btn-add-list" style="margin-top: 40px; margin-left: 40px;">
        <span><i class="fa-solid fa-plus"></i>Agregar a mi lista</span>

      </button>


      
</body>
</html>