<html lang="es" class="skrollr skrollr-desktop">

<head>




  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Favicon -->
  <!-- <link rel="shortcut icon" href="./assets/images/favicon.ico" type="image/x-icon" /> -->

  <!-- Libs CSS -->
  <link rel="stylesheet" href="css/libs.bundle.css">
  <link rel="stylesheet" href="css/style.css">

  <!-- Main CSS -->
  <link rel="stylesheet" href="css/index.bundle.css">

  <!-- Title -->
  <title>Index</title>
  <style type="text/css">
    @font-face {
      font-family: Roboto;
      src: url("chrome-extension://mcgbeeipkmelnpldkobichboakdfaeon/css/Roboto-Regular.ttf");
    }

    body {
      background-color: #17181C !important;
    }
  </style>
</head>

<body>


  <nav id="mainNav" class="navbar navbar-expand-lg  navbar-dark">
    <div class="container">
      <a href="#" class="navbar-brand"><img src="./img/Logo.png" alt="Logo"></a>

      <!-- secondary -->
      <ul class="navbar-nav navbar-nav-secondary order-lg-3">
        <li class="nav-item d-lg-none">
          <a class="nav-link nav-icon collapsed" href="" role="button" data-bs-toggle="collapse"
            data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa-solid fa-bars"></i>
          </a>
        </li>
        <li class="nav-item d-none d-lg-block">
          <a href="https://themes.getbootstrap.com/product/cube-multipurpose-template-ui-kit/"
            class="btn btn-outline-white rounded-pill ms-2">
            Iniciar Sesión
          </a>
        </li>
      </ul>

      <!-- primary -->
      <div class="navbar-collapse collapse" id="navbar" data-bs-parent="#mainNav">
        <ul class="navbar-nav">
          <li class="nav-item ">
            <a class="nav-link " href="#" role="button" aria-expanded="false">
              <i class="fa-solid fa-house"></i>Inicio
            </a>


          </li>
          <li class="nav-item ">
            <a class="nav-link " href="#" role="button" aria-expanded="false">
              <i class="fa-solid fa-magnifying-glass"></i>Busqueda
            </a>

          </li>
          <li class="nav-item ">
            <a class="nav-link " href="#" role="button" aria-expanded="false" data-bs-auto-close="outside">
              <i class="fa-solid fa-list"></i>Mis Listas
            </a>

          </li>

          <li class="nav-item dropdown dropdown-hover">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown-5" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Docs
            </a>
            <ul class="dropdown-menu dropdown-menu-detailed" aria-labelledby="navbarDropdown-5">
              <li><a class="dropdown-item " href="./docs/index.html">
                  <span>
                    <i class="bi bi-book"></i>
                    Get Started
                    <small>Customising and building</small>
                  </span>
                </a>
              </li>
              <li><a class="dropdown-item " href="./docs/accordion.html">
                  <span>
                    <i class="bi bi-grid"></i>
                    Components
                    <small>Full list of components</small>
                  </span>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item d-lg-none">
            <a href="https://themes.getbootstrap.com/product/cube-multipurpose-template-ui-kit/"
              class="nav-link text-primary">Buy Cube</a>
          </li>
        </ul>
      </div>



      <!-- mobile user menu -->




    </div>
  </nav>




  <div class="offcanvas-wrap">

    
    

<!----------------------------------Recomendados para ti---------------------------------------->

<section class="container mt-5">

  <div class="d-flex">
    <div>

      <p class="text-white fw-normal fs-6">Recomendados para ti</p>

    </div>

  </div>

  <div class="carousel ">

    <div
      data-carousel='{"container": "#fixedWidth","fixedWidth": 235, "swipeAngle": false, "mouseDrag": true, "gutter": 25,"loop": false,  "nav": false, "responsive": {"0": {"items": 2}, "768": {"items": 3}, "992": {"items": 4}, "1200": {"items": 5}}}'>
      <div>
        <div class="card-min-category">
          <h2>Fantasia</h2>
          <div class="pic">
            <img src="img/kimetsu-bg.webp" alt="">
          </div>
        </div>
      </div>
      <div>
        <div class="card-min-category">
          <h2>Fantasia</h2>
          <div class="pic">
            <img src="img/kimetsu-bg.webp" alt="">
          </div>
        </div>
      </div>
      <div>
        <div class="card-min-category">
          <h2>Fantasia</h2>
          <div class="pic">
            <img src="img/kimetsu-bg.webp" alt="">
          </div>
        </div>
      </div>
      <div>
        <div class="card-min-category">
          <h2>Fantasia</h2>
          <div class="pic">
            <img src="img/kimetsu-bg.webp" alt="">
          </div>
        </div>
      </div>
      <div>
        <div class="card-min-category">
          <h2>Fantasia</h2>
          <div class="pic">
            <img src="img/kimetsu-bg.webp" alt="">
          </div>
        </div>
      </div>
      

      


    </div>
  </div>





</section>

<div class="container mt-5">
  <div class="row mb-10 g-3 g-xl-5 gallery-1" id="grid1" data-isotope="" style="position: relative; height: 1893.28px;">
    <div class="col-md-6 col-lg-4" style="position: absolute; left: 0px; top: 0px;">
      <figure class="media media-image equal-2-1 equal-md-1-1 category-card">
        <div>
          <h2 class="">Fantasia</h2>
        </div>
        <span style="background-image: radial-gradient(farthest-side at 70% 30%, transparent, rgb(23, 24, 28)), url('img/kimetsu-bg.webp')">
        </span>
      </figure>
             
    </div>
    <div class="col-md-6 col-lg-4" style="position: absolute; left: 439.984px; top: 0px;">
      <figure class="media media-image equal-2-1 equal-md-3-4 category-card" >
        <div>
          <h2 class="">Fantasia</h2>
        </div>
        <span style="background-image: radial-gradient(farthest-side at 70% 30%, transparent, rgb(23, 24, 28)), url('img/kimetsu-bg.webp')">
        </span>
      </figure>        </div>
    <div class="col-md-6 col-lg-4" style="position: absolute; left: 879.968px; top: 0px;">
      <figure class="media media-image equal-2-1 equal-md-1-1 category-card">
        <div>
          <h2 class="">Fantasia</h2>
        </div>
        <span style="background-image: radial-gradient(farthest-side at 70% 30%, transparent, rgb(23, 24, 28)), url('img/kimetsu-bg.webp')">
        </span>
      </figure>
    </div>
    <div class="col-md-6 col-lg-4" style="position: absolute; left: 0px; top: 439.984px;">
      <figure class="media media-image equal-2-1 equal-md-3-4 category-card" >
        <div>
          <h2 class="">Fantasia</h2>
        </div>
        <span style="background-image: radial-gradient(farthest-side at 70% 30%, transparent, rgb(23, 24, 28)), url('img/kimetsu-bg.webp')">
        </span>
      </figure>     </div>
    <div class="col-md-6 col-lg-4" style="position: absolute; left: 879.968px; top: 439.984px;">
      <figure class="media media-image equal-2-1 equal-md-3-4  category-card" >
        <div>
          <h2 class="">Fantasia</h2>
        </div>
        <span style="background-image: radial-gradient(farthest-side at 70% 30%, transparent, rgb(23, 24, 28)), url('img/kimetsu-bg.webp')">
        </span>
      </figure>        </div>
    <div class="col-md-6 col-lg-4" style="position: absolute; left: 439.984px; top: 573.297px;">
      <figure class="media media-image equal-2-1 equal-md-1-1 category-card" >
        <div>
          <h2 class="">Fantasia</h2>
        </div>
        <span style="background-image: radial-gradient(farthest-side at 70% 30%, transparent, rgb(23, 24, 28)), url('img/kimetsu-bg.webp')">
        </span>
      </figure>        </div>
    <div class="col-md-6 col-lg-4" style="position: absolute; left: 0px; top: 1013.28px;">
      <figure class="media media-image equal-2-1 equal-md-1-1 category-card" >
        <div>
          <h2 class="">Fantasia</h2>
        </div>
        <span style="background-image: radial-gradient(farthest-side at 70% 30%, transparent, rgb(23, 24, 28)), url('img/kimetsu-bg.webp')">
        </span>
      </figure>        </div>
    <div class="col-md-6 col-lg-8" style="position: absolute; left: 439.984px; top: 1013.28px;">
      <figure class="media media-image equal-2-1 equal-md-1-1 category-card" >
        <div>
          <h2 class="">Fantasia</h2>
        </div>
        <span style="background-image: radial-gradient(farthest-side at 70% 30%, transparent, rgb(23, 24, 28)), url('img/kimetsu-bg.webp')">
        </span>
      </figure>        </div>
    <div class="col-md-6 col-lg-4" style="position: absolute; left: 0px; top: 1453.26px;">
      <figure class="media media-image equal-2-1 equal-md-1-1 category-card" >
        <div>
          <h2 class="">Fantasia</h2>
        </div>
        <span style="background-image: radial-gradient(farthest-side at 70% 30%, transparent, rgb(23, 24, 28)), url('img/kimetsu-bg.webp')">
        </span>
      </figure>        </div>
  </div>
</div>







    <!-- footer -->
    <footer id="footer" class="pt-10 pt-xl-10 pb-4 inverted">
      <div class="container">
        <div class="row align-items-center text-muted">

          <div class="col-md-6 col-lg-6">
            <a href="index.html" class="navbar-brand"><img src="./assets/images/logo/logo-light.svg" alt="Logo"></a>
          </div>
          <div class="col-md-6 col-lg-6 text-end text-lg-end ">
            <p class="eyebrow">2023 © Daniel Niño</p>
          </div>
        </div>
      </div>
    </footer>
  </div>

  <!-- javascript -->
  <script src="https://kit.fontawesome.com/d4ea08e6c5.js" crossorigin="anonymous"></script>
  <script src="js/vendor.bundle.js"></script>
  <script src="js/index.bundle.js"></script>


</body>

</html>