<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IMAGENES</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="responsive.css">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    

    <script src="https://kit.fontawesome.com/d4ea08e6c5.js" crossorigin="anonymous"></script>

    <style>
      
        .background-image {
  position: relative;
}

.background-image img {
  width: 100%;
  height: auto;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.navbar {
  background-color: transparent !important;
  padding-top: 20px;
  padding-bottom: 20px;
  transition: all 0.3s ease-in-out;
}

.navbar-scrolled {
  background-color: rgba(23, 24, 28, 0.8) !important;
  padding-top: 10px;
  padding-bottom: 10px;
}
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-transparent">
          que puede ir aqui
        </nav>
      </header>
      
      <div class="background-image">
        <img src="img/portada.jpg" alt="">
      </div>
    
    <!-- <div class="img-detail" style="display: inline-block;">
        <div class="pic">
            <img src="img/portada.jpg" alt="">
        </div>
        
    </div>
    <div class="detail">
        <img src="img/logokimetsu.png" alt="lgKimetsu">
        <div class="detail-tag">
            <span >Serie</span>
            <span >Subtitulado</span>
            <span >Doblado</span>
            <span >2020</span>
        </div>
        <p class="detail-genero">Acción • Espadas • Shousen</p>
        <div class="detail-calificacion">
            <div>
                <i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i> 4.8✰(100K)
            </div>
            <div>
               <i class="fa-regular fa-comment"></i> 51 Reseñas
            </div>
        </div>
        
        <p class="detail-description">El joven Tanjiro Kamado vive felizcon su madre y hermanos pequeños en la montaña, subsistiendo humildemente gracias a la venta de carbón. Una fría mañana, después de regresar de trabajar, se encuentraa toda su familia asesinada con la excepción de su hermana Nezuko, convertida en demonio</p>

        <div class="detail-button">
            <button class="btn-play">
                <span><i class="fa-solid fa-play"></i></span>
              </button>
              <button class="btn-play-trailer">
                <span><i class="fa-solid fa-clapperboard"></i><p>Ver Trailer</p></span>
              </button>
              <button class="btn-add-list">
                <span><i class="fa-solid fa-plus"></i><p>Agregar a mi lista</p></span>
              </button>
        </div>

        
        
    </div> -->

    

   
    <script src="main.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(window).scroll(function() {
  var scroll = $(window).scrollTop();
  if (scroll >= 50) {
    $("header").addClass("navbar-scrolled");
  } else {
    $("header").removeClass("navbar-scrolled");
  }
});
    </script>
</body>
</html>