<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Slider</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/d4ea08e6c5.js" crossorigin="anonymous"></script>

</head>
<body>
    <h1>CARD PRINCIPALES</h1>
    <div class="contenedor series-cap-recomendadas">
        <div class="contenedor-titulo-controles">
            <h3>Capitulos</h3>
            <div class="indicadores">
                
            </div>
        </div>
        <div class="contenedor-principal">
            <button role="button" id="flecha-izquierda" class="flecha-izquierda"><i class="fa-solid fa-angle-left"></i></button>

            <div class="contenedor-carousel">
                <div class="carousel">
                    <div class="card-min" style="margin-right: 13px; margin-left: 5px;">
            
                        <h2>Kimetsu No Yaiba</h2>
                        <span class="type">Serie - Sub - Dob</span>
                        <span class="calificacion">5.0 *</span>
                        <div class="card-min-button">
                            <a href="#"><i class="fa-solid fa-play"></i></a>
                            <a href="#"><i class="fa-solid fa-plus-minus"></i></a>
                        </div>
                        <div class="pic"></div>
                    </div>

                    <div class="card-min" style="margin-right: 13px;">
            
                        <h2>Kimetsu No Yaiba</h2>
                        <span class="type">Serie - Sub - Dob</span>
                        <span class="calificacion">5.0 *</span>
                        <div class="card-min-button">
                            <a href="#"><i class="fa-solid fa-play"></i></a>
                            <a href="#"><i class="fa-solid fa-plus-minus"></i></a>
                        </div>
                        <div class="pic"></div>
                    </div>

                    <div class="card-min" style="margin-right: 13px;">
            
                        <h2>Kimetsu No Yaiba</h2>
                        <span class="type">Serie - Sub - Dob</span>
                        <span class="calificacion">5.0 *</span>
                        <div class="card-min-button">
                            <a href="#"><i class="fa-solid fa-play"></i></a>
                            <a href="#"><i class="fa-solid fa-plus-minus"></i></a>
                        </div>
                        <div class="pic"></div>
                    </div>

                    <div class="card-min" style="margin-right: 13px;">
            
                        <h2>Kimetsu No Yaiba</h2>
                        <span class="type">Serie - Sub - Dob</span>
                        <span class="calificacion">5.0 *</span>
                        <div class="card-min-button">
                            <a href="#"><i class="fa-solid fa-play"></i></a>
                            <a href="#"><i class="fa-solid fa-plus-minus"></i></a>
                        </div>
                        <div class="pic"></div>
                    </div>

                    <div class="card-min" style="margin-right: 13px;">
            
                        <h2>Kimetsu No Yaiba</h2>
                        <span class="type">Serie - Sub - Dob</span>
                        <span class="calificacion">5.0 *</span>
                        <div class="card-min-button">
                            <a href="#"><i class="fa-solid fa-play"></i></a>
                            <a href="#"><i class="fa-solid fa-plus-minus"></i></a>
                        </div>
                        <div class="pic"></div>
                    </div>

                    <div class="card-min" style="margin-right: 13px;">
            
                        <h2>Kimetsu No Yaiba</h2>
                        <span class="type">Serie - Sub - Dob</span>
                        <span class="calificacion">5.0 *</span>
                        <div class="card-min-button">
                            <a href="#"><i class="fa-solid fa-play"></i></a>
                            <a href="#"><i class="fa-solid fa-plus-minus"></i></a>
                        </div>
                        <div class="pic"></div>
                    </div>

                    <div class="card-min" style="margin-right: 13px;">
            
                        <h2>Kimetsu No Yaiba</h2>
                        <span class="type">Serie - Sub - Dob</span>
                        <span class="calificacion">5.0 *</span>
                        <div class="card-min-button">
                            <a href="#"><i class="fa-solid fa-play"></i></a>
                            <a href="#"><i class="fa-solid fa-plus-minus"></i></a>
                        </div>
                        <div class="pic"></div>
                    </div>

                    <div class="card-min" style="margin-right: 13px; margin-left: 5px;">
            
                        <h2>Kimetsu No Yaiba</h2>
                        <span class="type">Serie - Sub - Dob</span>
                        <span class="calificacion">5.0 *</span>
                        <div class="card-min-button">
                            <a href="#"><i class="fa-solid fa-play"></i></a>
                            <a href="#"><i class="fa-solid fa-plus-minus"></i></a>
                        </div>
                        <div class="pic"></div>
                    </div>

                    <div class="card-min" style="margin-right: 13px;">
            
                        <h2>Kimetsu No Yaiba</h2>
                        <span class="type">Serie - Sub - Dob</span>
                        <span class="calificacion">5.0 *</span>
                        <div class="card-min-button">
                            <a href="#"><i class="fa-solid fa-play"></i></a>
                            <a href="#"><i class="fa-solid fa-plus-minus"></i></a>
                        </div>
                        <div class="pic"></div>
                    </div>

                    <div class="card-min" style="margin-right: 13px;">
            
                        <h2>Kimetsu No Yaiba</h2>
                        <span class="type">Serie - Sub - Dob</span>
                        <span class="calificacion">5.0 *</span>
                        <div class="card-min-button">
                            <a href="#"><i class="fa-solid fa-play"></i></a>
                            <a href="#"><i class="fa-solid fa-plus-minus"></i></a>
                        </div>
                        <div class="pic"></div>
                    </div>

                    <div class="card-min" style="margin-right: 13px;">
            
                        <h2>Kimetsu No Yaiba</h2>
                        <span class="type">Serie - Sub - Dob</span>
                        <span class="calificacion">5.0 *</span>
                        <div class="card-min-button">
                            <a href="#"><i class="fa-solid fa-play"></i></a>
                            <a href="#"><i class="fa-solid fa-plus-minus"></i></a>
                        </div>
                        <div class="pic"></div>
                    </div>

                    <div class="card-min" style="margin-right: 13px;">
            
                        <h2>Kimetsu No Yaiba</h2>
                        <span class="type">Serie - Sub - Dob</span>
                        <span class="calificacion">5.0 *</span>
                        <div class="card-min-button">
                            <a href="#"><i class="fa-solid fa-play"></i></a>
                            <a href="#"><i class="fa-solid fa-plus-minus"></i></a>
                        </div>
                        <div class="pic"></div>
                    </div>

                    <div class="card-min" style="margin-right: 13px;">
            
                        <h2>Kimetsu No Yaiba</h2>
                        <span class="type">Serie - Sub - Dob</span>
                        <span class="calificacion">5.0 *</span>
                        <div class="card-min-button">
                            <a href="#"><i class="fa-solid fa-play"></i></a>
                            <a href="#"><i class="fa-solid fa-plus-minus"></i></a>
                        </div>
                        <div class="pic"></div>
                    </div>

                    <div class="card-min" style="margin-right: 13px;">
            
                        <h2>Kimetsu No Yaiba</h2>
                        <span class="type">Serie - Sub - Dob</span>
                        <span class="calificacion">5.0 *</span>
                        <div class="card-min-button">
                            <a href="#"><i class="fa-solid fa-play"></i></a>
                            <a href="#"><i class="fa-solid fa-plus-minus"></i></a>
                        </div>
                        <div class="pic"></div>
                    </div>
                    
                </div>
            </div>



            <button role="button" id="flecha-derecha" class="flecha-derecha"><i class="fa-solid fa-angle-right"></i></button>
        </div>

    </div>
    <script src="main.js"></script>
</body>
</html>