@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;500;700;900&display=swap');
*{
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:#17181C !important;
}


/* ----------------------------- CARD MINI EMPIEZA---------------------------------------- */
.card-min{
    position: relative;
    width: 250px;
    height: 140px;
    border-radius: 12px;
    
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
}
.card-min h2{
    z-index: 99;
    position: absolute;
    top: 12px; 
    left: 15px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    opacity: 0;
    pointer-events: none;
    transition: .2s ease;
    text-shadow: 6px 2px 3px rgba(0,0,0,0.6);
    
}
.card-min .type{
    z-index: 99;
    position: absolute;
    top: 32px;
    left: 15px;
    color: #ffffff;
    opacity: 0;
    font-size: 12px;
    font-weight: 300;
    pointer-events: none;
    text-shadow: 6px 2px 3px rgba(0,0,0,0.6);
    transition: .2s ease;
}
.card-min .calificacion{
    z-index: 99;
    position: absolute;
    bottom: 10px;
    left: 15px;
    color: #ffffff;
    opacity: 0;
    font-size: 15px;
    font-weight: 400;
    pointer-events: none;
    text-shadow: 6px 2px 3px rgba(0,0,0,0.6);
    
}

.card-min .card-min-button{
    z-index:99;
    position: absolute;
    bottom: 10px;
    right: 20px;
    color: #ffffff;
    opacity: 0;
    
}

.card-min .card-min-button a i{
    text-decoration: none;
    color: #ffffff;
}

.card-min .card-min-button i{
   z-index: 99;
    margin-left: 8px;
}

.card-min .pic img{
    z-index: 100;
    width: au;
    height: 140px;
  
   border-radius: 12px;
   pointer-events: none;
   transition: .3s ease;
}

.card-min:hover h2{
    opacity: 1;
}

.card-min:hover .type{
    opacity: 1;
}
.card-min:hover .calificacion{
    opacity: 1;
}
.card-min:hover .card-min-button{
    opacity: 1;
}


.card-min:hover .pic{
    opacity: 0.3;
    filter: brightness(0.6);
}

.card-min:hover{
    outline: 2px solid #FFFFFF;
outline-offset: 0px;
    
}


/* ----------------------------- CARD MINI TERMINA---------------------------------------- */
/*---------------------------------CARD MIN CAPITULOS-----------------------------------*/
.card-min-cap{
    position: relative;
    width: 250px;
    height: 140px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    overflow: hidden;
}


.card-min-cap .card-min-button{
    z-index:99;
    position: absolute;
    color: #ffffff;
    opacity: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
}

.card-min-cap .card-min-button a i{
    text-decoration: none;
    color: #ffffff;
}

.card-min-cap .card-min-button i{
   z-index: 99;
    font-size: 25px;
}

.card-min-cap .pic img{
    z-index: 100;
    width: au;
    height: 140px;
 
   border-radius: 12px;
   pointer-events: none;
   transition: .3s ease;
}


.card-min-cap:hover .card-min-button{
    opacity: 1;
}


.card-min-cap:hover .pic{
    opacity: 0.3;
    filter: brightness(0.6);
}

.card-min-cap:hover{
    outline: 2px solid #FFFFFF;
outline-offset: 0px;
    
}

.progress-bar {
    
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #f78c01;
    /* Configura los estilos de la barra de progreso aquí */
  }

  .progress-bar.progress {
    background-color: #1e87f0;
  }

/* ----------------------------- CARD LARGO EMPIEZA---------------------------------------- */
.card-lg{
    width: 250px;
    height: 348px;
    border-radius: 12px;
    position: relative;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    
}


.card-lg h2{
    z-index: 99;
    position: absolute;
    top: 12px; 
    left: 15px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    opacity: 0;
    pointer-events: none;
    transition: .2s ease;
    text-shadow: 6px 2px 3px rgba(0,0,0,0.6);
    
}
.card-lg .type{
    z-index: 99;
    position: absolute;
    top: 32px;
    left: 15px;
    color: #ffffff;
    opacity: 0;
    font-size: 12px;
    font-weight: 300;
    pointer-events: none;
    text-shadow: 6px 2px 3px rgba(0,0,0,0.6);
    transition: .2s ease;
}
.card-lg .calificacion{
    z-index: 99;
    position: absolute;
    bottom: 10px;
    left: 15px;
    color: #ffffff;
    opacity: 0;
    font-size: 15px;
    font-weight: 400;
    pointer-events: none;
    text-shadow: 6px 2px 3px rgba(0,0,0,0.6);
    
}

.card-lg .card-lg-button{
    z-index:99;
    position: absolute;
    bottom: 10px;
    right: 20px;
    color: #ffffff;
    opacity: 0;
    
}

.card-lg .card-lg-button a i{
    text-decoration: none;
    color: #ffffff;
}

.card-lg .card-lg-button i{
   z-index: 99;
    margin-left: 8px;
}

.card-lg .pic{
    z-index: 100;
    width: 250px;
    height: 348px;
   background:url('img/kimetsu-bg.webp') center / cover;
   border-radius: 12px;
   transition: .3s ease;
}

.card-lg:hover h2{
    opacity: 1;
}

.card-lg:hover .type{
    opacity: 1;
}
.card-lg:hover .calificacion{
    opacity: 1;
}
.card-lg:hover .card-lg-button{
    opacity: 1;
}


.card-lg:hover .pic{
    opacity: 0.3;
    filter: brightness(0.6);
}


.card-lg:hover{
    outline: 2px solid #FFFFFF;
outline-offset: 0px;
    
}



/* ----------------------------- CARD LARGO TERMINA---------------------------------------- */

/* ----------------------------- CARD  EMPIEZA---------------------------------------- */
.card{
    width: 516px;
    height: 289px;
    border-radius: 12px;
    position: relative;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
   
}
.card h2{
    z-index: 99;
    position: absolute;
    top: 12px;
    left: 15px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    opacity: 0;
    pointer-events: none;
    transition: .2s ease;
    text-shadow: 6px 2px 3px rgba(0,0,0,0.6);
    
}
.card .type{
    z-index: 99;
    position: absolute;
    top: 32px;
    left: 15px;
    color: #ffffff;
    opacity: 0;
    font-size: 12px;
    font-weight: 300;
    pointer-events: none;
    text-shadow: 6px 2px 3px rgba(0,0,0,0.6);
    transition: .2s ease;
}
.card .calificacion{
    z-index: 99;
    position: absolute;
    bottom: 10px;
    left: 15px;
    color: #ffffff;
    opacity: 0;
    font-size: 15px;
    font-weight: 400;
    pointer-events: none;
    text-shadow: 6px 2px 3px rgba(0,0,0,0.6);
    
}

.card .card-button{
    z-index:99;
    position: absolute;
    bottom: 10px;
    right: 20px;
    color: #ffffff;
    opacity: 0;
    
}

.card .card-button a i{
    text-decoration: none;
    color: #ffffff;
}

.card .card-button i{
   z-index: 99;
    margin-left: 8px;
}

.card .pic{
    z-index: 100;
    width: 516px;
    height: 289px;
   background:url('img/kimetsu-bg.webp') center / cover;
   border-radius: 12px;
   transition: .3s ease;
}

.card:hover{
    outline: 2px solid #FFFFFF;
outline-offset: 0px;
    
}

.card:hover h2{
    opacity: 1;
}

.card:hover .type{
    opacity: 1;
}
.card:hover .calificacion{
    opacity: 1;
}
.card:hover .card-button{
    opacity: 1;
}


.card:hover .pic{
    opacity: 0.3;
    filter: brightness(0.6);
}

/* ----------------------------- CARD  TERMINA---------------------------------------- */

/* ----------------------------- CARD MIN CATEGORIA EMPIEZA---------------------------------------- */
.card-min-category{
    position: relative;
    width: 250px;
    height: 140px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    outline: 2px solid #696969;
    outline-offset: 0px;
    transition: .2s ease;
}
.card-min-category h2{
    z-index: 99;
    position: absolute;
    bottom: 0; 
    left: 15px;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    pointer-events: none;
    transition: .2s ease;
    text-shadow: 6px 2px 3px rgba(0,0,0,0.6);
    
    
}



.card-min-category .pic{
    z-index: 100;
    width: 250px;
    height: 140px;
    background-image:  linear-gradient(to bottom, rgba(245, 246, 252, 0), rgb(59, 59, 59)),url('img/kimetsu-bg.webp') ;
    background-position: center;
    background-size: cover;
   transition: .3s ease;
   opacity: 0.9;
   filter: brightness(0.7);
}



.card-min-category:hover .pic{
    transform: scale(1.2);
   
}

.card-min-category:hover{
outline: 2px solid #FFFFFF;
outline-offset: 0px;
    
}

/* ----------------------------- CARD MIN CATEGORIA TERMINA---------------------------------------- */

/* ----------------------------- CARD LG CATEGORIA EMPIEZA---------------------------------------- */

.card-lg-category{
    width: 250px;
    height: 348px;
    border-radius: 12px;
    position: relative;
    outline: 2px solid #696969;
    outline-offset: 0px;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    overflow: hidden;
}


.card-lg-category h2{
    z-index: 99;
    position: absolute;
    bottom: 0; 
    left: 15px;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    pointer-events: none;
    transition: .2s ease;
    text-shadow: 6px 2px 3px rgba(0,0,0,0.6);
    
}


.card-lg-category .pic{
    z-index: 100;
    width: 250px;
    height: 348px;
    background-image:  linear-gradient(to bottom, rgba(245, 246, 252, 0.123), rgb(59, 59, 59)),url('img/kimetsu-bg.webp') ;
    background-position: center;
    background-size: cover;
   opacity: 0.9;
   filter: brightness(0.7);
   transition: .3s ease;
}


.card-lg-category:hover .pic{
    transform: scale(1.2);
}


.card-lg-category:hover{
    outline: 2px solid #FFFFFF;
outline-offset: 0px;
    
}





/* ----------------------------- CARD LG CATEGORIA TERMINA---------------------------------------- */

/* ----------------------------- IMAGENES DETALLES  EMPIEZA---------------------------------------- */
header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
  }
  .navbar {
    background-color: transparent !important;
    
    padding-top: 20px;
    padding-bottom: 20px;
    transition: all 0.3s ease-in-out;
  }
  
.img-detail{
    width:100%;
    height: 675px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.img-detail .pic{
   position: relative;
    width: 100%;
    height: 675px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.img-detail .pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.img-detail .pic::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
   
    background-image: radial-gradient(farthest-side at 73% 21%, transparent, rgb(23, 24, 28));

}
 .detail{
    position: absolute;
    top: 100px;
  left: 100px;
    padding: 20px;
    color: white;
    width: 40%;
    
    }
    .detail img{
        width: 260px;
        height: auto;
        margin-bottom: 20px;
        }

    .detail-tag span{
        font-size: 14px;
        font-style: medium;
        padding: 4px;
        background-color: #696969;
        border-radius: 5px;
        margin-left: 3px;
        
    }

     .detail .detail-genero{
        margin-top: 8px;
        font-size: 14px;
        font-weight: 300;
        text-shadow: 2px 2px 2px rgba(0,0,0,0.6);
    }

     .detail .detail-calificacion{
        margin-top: 15px;
        font-size: 18px;
        font-weight: 500;
        text-shadow: 2px 2px 2px rgba(0,0,0,0.6);
        
    }

     .detail .detail-calificacion div{
        display: inline-block;
        
    }

   
    
     .detail .detail-description{
        margin-top: 15px;
        font-size: 18px;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.493);
        font-weight: 500;
    
    }
    
     .detail .detail-button{
        margin-top: 20px;
        
    }
     .detail .detail-button button{
        margin-right: 10px;
        margin-top: 10px;
    }

/* ----------------------------- IMAGENES DETALLES  TERMINA---------------------------------------- */

/* ----------------------------- BOTONES EMPIEZA---------------------------------------- */

.btn-play{
    width: 49px;
    height: 49px;
    border-radius: 100%;
    background: linear-gradient(85deg, rgb(255, 115, 0), rgb(231, 136, 72));
    border: none;
    transition: .2s ease;
}
.btn-play span{
    font-size: 25px;
    color:#000000;
    display: flex;
    justify-content: center;
    align-items: center;

}

.btn-play:hover{
    background: linear-gradient(85deg, rgb(231, 136, 72), rgb(243, 143, 61));
}


.btn-play-trailer{
    width: auto;
    height: 49px;
    border-radius: 25px;
    background-color: #23252b;
    border: none;
    outline: 1px solid #FFFFFF;
    outline-offset: 0px;
    transition: .2s ease;
}

.btn-play-trailer span i{
    
    font-size: 25px;
}

.btn-play-trailer span{
    margin-left: 20px;
    margin-right: 20px;
    font-size: 18px;
    color:#ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;

}
.btn-play-trailer span p{
    margin-left: 15px;
}

.btn-play-trailer:hover{
    background-color: #727272;
}

.btn-add-list{
    width: auto;
    height: 49px;
    border-radius: 25px;
    background-color: #23252b;
    border: none;
    outline: 1px solid #FFFFFF;
    outline-offset: 0px;
    transition: .2s ease;
}

.btn-add-list span i{
    
    font-size: 25px;
}

.btn-add-list span{
    margin-left: 20px;
    margin-right: 20px;
    font-size: 18px;
    color:#ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;

}
.btn-add-list span p{
    margin-left: 15px;
}

.btn-add-list:hover{
    background-color: #727272;
}


/* ----------------------------- BOTONES TERMINA---------------------------------------- */

/*----------------------------SLIDER CSS------------------*/

.contenedor{
    width: 90%;
    margin: 0 auto;
    
}
/* ---- ----- ----- Contenedor Titulo y Controles ----- ----- ----- */

.contenedor-titulo-controles {
	display: flex;
	justify-content: space-between;
	align-items: end;
}

.contenedor-titulo-controles h3 {
	color: #fff;
	font-size: 20px;
    font-weight: 500;
}
.contenedor-titulo-controles .indicadores button {
	background: #fff;
	height: 3px;
	width: 10px;
	cursor: pointer;
	border: none;
	margin-right: 2px;
}

.contenedor-titulo-controles .indicadores button:hover,
.contenedor-titulo-controles .indicadores button.activo {
	background: red;
}


/* ---- ----- ----- Contenedor Principal y Flechas ----- ----- ----- */



.series-cap-recomendadas{
    margin-bottom: 70px;
}
.series-cap-recomendadas .contenedor-principal{
    display: flex;
	align-items: center;
	position: relative;
}

.series-cap-recomendadas .contenedor-principal .flecha-izquierda,
.series-cap-recomendadas .contenedor-principal .flecha-derecha{
    position: absolute;
	border: none;
	background: rgba(0, 0, 0, 0);
	font-size: 20px;
	height: 50%;
	top: calc(50% - 25%);
	line-height: 40px;
	width: 50px;
	color: #fff;
	cursor: pointer;
	z-index: 500;
	transition: .2s ease all;

}

.series-cap-recomendadas .contenedor-principal .flecha-izquierda:hover,
.series-cap-recomendadas .contenedor-principal .flecha-derecha:hover{
	background: rgba(0, 0, 0, 0);
    font-size: 30px;
}

.series-cap-recomendadas .contenedor-principal .flecha-izquierda{
    left: 0;
}
.series-cap-recomendadas .contenedor-principal .flecha-derecha{
    right: 0;
}

/* ---- ----- ----- Carousel ----- ----- ----- */

.series-cap-recomendadas .contenedor-carousel{
    width: 100%;
	padding: 10px 0;
	overflow: hidden;
	scroll-behavior: smooth;
}

.series-cap-recomendadas .contenedor-carousel .carousel{
    display: flex;
	flex-wrap: nowrap;
}

.series-cap-recomendadas .contenedor-carousel .carousel .card-min{
	
	box-shadow: 5px 5px 10px rgba(0,0,0, .3);
    vertical-align: top;
}